
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <span class="text"> Menu </span>
          <link rel="stylesheet" href="../static/styles/style_gallery.css">

        </div>
        <h4>Image Output:</h4>
            </head>
            <body>
                <div class="gallery" id="gallery">
                    <!-- Các card sẽ được thêm tự động qua JavaScript -->
                </div>
    </body>
</html>


    </section>
