<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} GUI TEST {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/style_result.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-github'></i>
            <span class="logo_name"> NIDIM </span>
        </div>

        <ul class="nav-links">
            <li>
                <a href="#" id="start-query">
                    <i class='bx bx-play'></i>
                    <span class="link_name">Start query</span>
                </a>
                <ul class="sub-menu blank" >
                    <li><a class="link_name" href="#">Start query</a></li>
                </ul>
            </li>

            <li>
                <a href="#" id="upload-link">
                    <i class='bx bx-upload'></i>
                    <span class="link_name">Upload Metadata</span>
                </a>
                <ul class="sub-menu blank" id="upload-submenu">
                    <li><a class="link_name" href="#">Upload Metadata</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class='bx bxl-jquery'></i>
                    <span class="link_name">Add Query</span>
                    <div class="icon-link">
                        <i class='bx bxs-chevron-down arrow'></i>
                    </div>
                </a>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Add Query</a></li>
                    <li><a href="#">Text</a></li>
                    <li><a href="#">Image</a></li>
                    <li><a href="#">Color</a></li>
                </ul>
            </li>
                <li>
                <a href="#">
                    <i class="fa-sharp fa-solid fa-clock-rotate-left"></i>
                    <span class="link_name">Your query</span>
                    <div class="icon-link">
                        <i class='bx bxs-chevron-down arrow'></i>
                    </div>
                </a>
               <ul class="sub-menu-1" id="history-submenu">
                <li><a class="link_name" href="#">Your query</a></li>
                <!-- Các mục query sẽ được thêm vào đây -->

            </ul>
            </li>
        </i>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <span class="text"> Menu </span>
        </div>

        <h1>Image Output:</h1>
        <div id="gallery" class="gallery"></div>

    </section>

    <!-- Hidden file input field -->
    <input type="file" id="file-input" accept=".json" style="display: none;" />
    <!-- Text Modal -->
    <div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="textModalLabel">Enter Text Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="time">Time</label>
                        <input type="text" class="form-control" id="time" name="time" placeholder="Enter the time that happens in the video" required>
                    </div>
                    <div class="form-group">
                        <label for="place">Place</label>
                        <input type="text" class="form-control" id="place" name="place" placeholder="Enter where the frame was taken" required>
                    </div>
                    <div class="form-group">
                        <label for="description">More specific description</label>
                        <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter a more specific description" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveText()">Save changes</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Image Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Upload an Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="file" class="form-control" id="related_image" name="related_image" accept="image/*">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveImg()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Color Modal -->
    <div class="modal fade" id="colorModal" tabindex="-1" role="dialog" aria-labelledby="colorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="colorModalLabel">Pick a Color</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="color-picker">
                        <div class="color-swatch" style="background-color: red;" onclick="setColor('red')"></div>
                        <div class="color-swatch" style="background-color: blue;" onclick="setColor('blue')"></div>
                        <div class="color-swatch" style="background-color: green;" onclick="setColor('green')"></div>
                        <div class="color-swatch" style="background-color: yellow;" onclick="setColor('yellow')"></div>
                        <div class="color-swatch" style="background-color: orange;" onclick="setColor('orange')"></div>
                        <div class="color-swatch" style="background-color: purple;" onclick="setColor('purple')"></div>
                        <div class="custom-color" onclick="triggerColorPicker()"></div>
                        <input type="color" id="colorInput" onchange="setColor(this.value)">
                    </div>
                    <input type="hidden" id="dominant_color" name="dominant_color">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveColor()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Hidden file input field -->
    <input type="file-1" id="file-input" accept=".json" style="display: none;" />
    <!-- Text Modal -->
    <div class="modal fade" id="textModal-edit" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="textModalLabel">Enter Text Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="time">Time</label>
                        <input type="text" class="form-control" id="time-edit" name="time" placeholder="Enter the time that happens in the video" required>
                    </div>
                    <div class="form-group">
                        <label for="place">Place</label>
                        <input type="text" class="form-control" id="place-edit" name="place" placeholder="Enter where the frame was taken" required>
                    </div>
                    <div class="form-group">
                        <label for="description">More specific description</label>
                        <textarea class="form-control" id="description-edit" name="description" rows="3" placeholder="Enter a more specific description" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveChange()">Save changes</button>
                    <button type="button" class="btn btn-danger delete-btn" onclick="deleteQuery()" >Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Image Modal -->
    <div class="modal fade" id="imageModal-edit" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Upload an Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <img id="defaultImage-edit" alt="Default Image" style="width: 100%; height: auto; ">
                    <!-- <input type="file" class="form-control" id="related_image-edit" name="related_image" accept="image/*"> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary" onclick="saveChange()">Save changes</button> -->
                    <button type="button" class="btn btn-danger delete-btn" onclick="deleteQuery()">Delete</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Color Modal -->
    <div class="modal fade" id="colorModal-edit" tabindex="-1" role="dialog" aria-labelledby="colorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="colorModalLabel">Your color:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="color-picker">
                        <!-- <div class="custom-color" onclick="triggerColorPicker()"></div> -->
                        <input type="color" id="colorPicker" name="colorPicker" value="#ff0000">
                    </div>
                    <input type="hidden" id="dominant_color" name="dominant_color">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveChange()">Save changes</button>
                    <button type="button" class="btn btn-danger delete-btn" onclick="deleteQuery()">Delete</button>

                </div>
            </div>
        </div>
    </div>

    {% block content %} {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/script/script_save.js">  </script>
<script src="../static/script/script_modal.js">  </script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</html>
