    <!-- Hidden file input field -->
    <input type="file" id="file-input" accept=".json" style="display: none;" />
    <!-- Text Modal -->
    <div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="textModalLabel">Enter Text Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="time">Time</label>
                        <input type="text" class="form-control" id="time" name="time" placeholder="Enter the time that happens in the video" required>
                    </div>
                    <div class="form-group">
                        <label for="place">Place</label>
                        <input type="text" class="form-control" id="place" name="place" placeholder="Enter where the frame was taken" required>
                    </div>
                    <div class="form-group">
                        <label for="description">More specific description</label>
                        <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter a more specific description" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveText()">Save changes</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Image Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Upload an Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="file" class="form-control" id="related_image" name="related_image" accept="image/*">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveImg('#related_image')">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Color Modal -->
    <div class="modal fade" id="colorModal" tabindex="-1" role="dialog" aria-labelledby="colorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="colorModalLabel">Pick a Color</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="color-picker">
                        <div class="color-swatch" style="background-color: red;" onclick="setColor('red')"></div>
                        <div class="color-swatch" style="background-color: blue;" onclick="setColor('blue')"></div>
                        <div class="color-swatch" style="background-color: green;" onclick="setColor('green')"></div>
                        <div class="color-swatch" style="background-color: yellow;" onclick="setColor('yellow')"></div>
                        <div class="color-swatch" style="background-color: orange;" onclick="setColor('orange')"></div>
                        <div class="color-swatch" style="background-color: purple;" onclick="setColor('purple')"></div>
                        <div class="custom-color" onclick="triggerColorPicker()"></div>
                        <input type="color" id="colorInput" onchange="setColor(this.value)">
                    </div>
                    <input type="hidden" id="dominant_color" name="dominant_color">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveColor()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
